@tailwind base;
@tailwind components;
@tailwind utilities;



/*RANGE SLIDER CSS BELOW HERE*/
.tick {
    width: 10px;
    height: 30px;
    background-color: gray;
    border-radius: 8px;
    display: inline-block;
}

.tick-style{
    width: 10px;
    height: 35px;
}